@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');
body {
    font-family: 'Rubik Distressed', cursive;
}
.logo-text {
    font-size: smaller;
}
.welcome-text {
    font-size: 36px;
}
#home-screen {
    background-color: rgba(255, 166, 0, 0.1);
    background-image: url(/img/man-on-beach.jpeg);
    background-blend-mode: screen;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    padding-top: 6rem;
}
#square {
    height: 75px;
    width: 75px;
    position: absolute;
    bottom: 50px;
    right: 50px;
    clip-path: inset(0 0 0 0);
}
@media screen and (min-width: 768px) {
    .welcome-text {
        font-size: 48px;
    }
    #square {
            height: 100px;
            width: 100px;
            position: absolute;
            bottom: 100px;
            right: 100px;
            clip-path: inset(0 0 0 0);
        }
}